<h1>Add member</h1>

<form action="" method="POST">
    {% csrf_token %}
    First Name:<br>
    <input name="name">
    <br><br>
    Surname:<br>
    <input name="surname">
    <br><br>
    Email:<br>
    <input name="email">
    <br><br>
    Phone:<br>
    <input name="phone">
    <br><br>
    Age:<br>
    <input name="age">
    <br><br>
    City<br>
    <input name="city">
    <br><br>
    Salary:<br>
    <input name="salary">
    <br><br>
    Adress:<br>
    <input name="adress">
    <br><br>
    Educational<br>
    <input name="educational_institution">
    <br><br>
    <br><br>
    work_experiences<br>
    <input name="work_experiences">
    <br><br>

    <input type="submit" value="Add teacher">
</form>